$(".topics_select").empty();
$(".topics_select").append($('<option>Select a Topic...</option>'));
<% @topics.each do |topic| %>
  $(".topics_select").append($('<option value="<%= topic.id %>"><%= topic.name %></option>'));
<% end %>