<div class= "container">
	<div class="row">	
		<div class="col-md-9">
			<h4>List of Topics</h4>
			<% @topics.each do |topic| %>
				<ul class="indentless">
				<li><%= link_to topic.name, edit_topic_path(topic)%></li>
				</ul>
			<% end %>
		</div>
		<div class="col-md-3 pull-right">
			<%= render partial: 'shared/search' %>
		</div>
	</div>
</div>