<div class= "container">
  <div class="row">
    <div class= "col-md-9">
      <h3>What Everyone's Working On:</h3>
        <% @charts.each do |chart| %>
          <%= chart.title %>
        <% end %>
    </div>
  </div>
</div>