<%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>

<div class= "container">
  <div class="row">
    <div class= "col-md-9">
      <h3>My Current Projects</h3>
      <%= link_to "Start a New Project", new_chart_path %>
      <% @charts.each do |chart| %>
        <ul>
          <li><%=link_to chart.title, edit_chart_path(chart.id)%></li>
        </ul>
          <% if chart.marks.present? %>
            <% chart.marks.each do |mark| %>
            <h4><%=mark.description%></h4>
            <%end%>
          <%end%>
    <% end %>
    </div>
  </div>
</div>