<div class= "container">
  <div class="row">
    <div class= "col-md-9">
    <%= render partial: 'error_messages' %>
    <h3>Starting a new project is easy.</h3>
    <p>Get inspired with these <%= link_to "ideas", '#'%> or check out what others are <%= link_to "working on", charts_path%>.</p>
    <%= render partial: 'form' %>
    </div>
  </div>
</div>