@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootsy";

$gray-medium-light: #eaeaea;

//Navbar//
.navbar-nav li{
  padding-left:30px;
  padding-right:30px;
}

//Fonts//

body {
  font-family: 'Lato Sans', sans-serif;
}

body h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  }


html, body{height:100%; margin:0;padding:0}
 
.container-fluid{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}
 
.row-fluid {height: 100%; display:table-cell; vertical-align: middle;}
 
 
.centering {
  float:none;
  margin:0 auto;
}


.category-box {
	border: 1px dashed $gray-medium-light;
}

.box1 {
	height: 500px;
}
.box2 {
	height: 350px;
}

ul {
	list-style-type: none;
	padding-left: 2px;
	}
li {
  list-style: none;
}