<div class= "container">
	<div class="row">	
		<div class="col-md-9">
			<h4>List of Categories</h4>
			<% @categories.each do |category| %>
				<ul class="indentless">
				<li><%= link_to category.name, edit_category_path(category)%></li>
				</ul>
			<% end %>
		</div>
		<div class="col-md-3 pull-right">
			<% if @search_results.present?%>
				<%= render partial: 'shared/search' %>
			<% elsif params[:search].present? && @search_results.empty? %>
			<%= "There were no articles matching the terms '#{params[:search]}'" %>
			<% end %>
		</div>
	</div>
</div>	